*
{
  margin: 0;
  padding: 0;
}
/*text styles*/
#home
{
  color: rgb(255, 127, 23)
}
/*navbar-brand styles*/
.navbar-brand > h2
{
  font-family: 'Heebo', sans-serif;
  font-size: 2.2em;
  color: rgb(255, 115, 0);
  text-shadow: 0 0 5px rgb(255, 115, 0);
}
/*nav bar padding and margin*/
#navbar
{
  margin-left: auto;
}
/*navbar*/
@media (max-width: 992px)
{
  #navbar
  {
    margin:0;
  }
}
/*icon nav bar*/
#icon_bar
{
  display: flex;
  top: 35%;
  right: 2em;
  z-index: 3;
}
#icon_bar svg
{
  transition: color 0.5s;
}
#icon_bar svg:hover
{
  color:rgb(255, 135, 36);
}
@media (max-width: 810px)
{
  #icon_bar
  {
    display: none;
  }
}
/*loading*/
#load
{
  z-index: 3;
  top: 0;
  left: 0;
  background-color: black;
}
.gone
{
  transition: opacity 1s;
  opacity: 0;
}
/*button styles*/
#btn
{
  z-index: 1;
  left: 1%;
  bottom: 8%;
}
/*next button styles*/
#next
{
  color:rgb(255, 115, 0);
  z-index: 1;
  right: 1%;
  bottom: 8%;
}
/*footer*/
#bottom
{
  color: white;
}
#bottom a
{
  text-decoration: none;
  color: black;
  transition: color, 0.3s;
}
#bottom a:hover
{
  color: white;
}
/*for the rotating icon */
@keyframes rotate
{
  0%
  {
    transform: rotate(720deg);
    box-shadow: 0 0 5px rgb(255, 115, 0);
  }
  50%
  {
    transform: rotate(90deg);
    background-color: white;
    box-shadow: 0 0 5px white;
  }
  100%
  {
    box-shadow: 0 0 5px rgb(255, 115, 0);
  }
}
.box
{
  animation: rotate 6s infinite;
}